{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Lost OR Found{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static  'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static  'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static  'bower_components/font-awesome/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_stylesheet %}
        {% endblock %}
    </head>

    <body>

        {% block navigation %}
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{% url 'post_list' %}"><span class="text
                    text-success">Lost OR Found</span></a>
                </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="">About</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">{{ request.user.username }}</a></li>
                        <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a> </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}

        <div class="container">
            {% if messages %}
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        {% for message in messages %}
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>

        {% block header %}
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h1 class="text-center">LOST OR FOUND</h1>
                    <p class="text-center tagline">Help and Get Helped</p>
                </div>
            </div>
            </div>
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block footer %}
            <footer>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4 text-center">
                        <h2>About US</h2>
                        <hr>
                        <P>text text text text text text
                        text text text text text text.</P>
                    </div>

                    <div class="col-md-4 text-center">
                        <h1>Contact Us</h1>
                        <hr>
                        <p>hello you can contact us. hello you can contact us.
                        hello you can contact us. hello you can contact us.
                        hello you can contact us. hello you can contact us.
                        hello you can contact us. hello you can contact us. </p>
                    </div>

                    <div class="col-md-4 text-center">
                        <h2>Social Media</h2>
                        <hr>
                        <p>facebook , twitter, Goolge Plus.
                        facebook , twitter, Goolge Plus.
                        facebook , twitter, Goolge Plus.
                        facebook , twitter, Goolge Plus. </p>
                    </div>

                </div>
            </div>
            </footer>
              <p class="text-center cfoot">&copy; All Rights Reserved</p>
        {% endblock %}

        <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    </body>
</html>