{% extends 'lostfound/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Contact Us{% endblock %}</title>
    </head>
    <body>


    {% block content %}
        <div class="container">
            <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h1 class="text-center">Contact Us</h1>
                        <hr>
                        <form role="form" action="" method="post" class="contact">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

    {% endblock %}

    </body>
</html>