{% extends 'lostfound/base.html' %}
{% load staticfiles %}
{% block extra_stylesheet %}
<link rel="stylesheet" href="{% static 'css/cadmin.css' %}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}My Posts{% endblock %}</title>
    </head>
    <body>



    {% block content %}
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="list-group">
                        <h3><a href="{% url 'dashboard' %}" class="list-group-item">Dashboard</a></h3>
                        <h3><a href="{% url 'post_new' %}" class="list-group-item">New Post</a></h3>
                        <h3><a href="{% url 'dash_post_list' %}" class="list-group-item">My Posts</a> </h3>
                        <h3><a href="{% url 'profile' %}" class="list-group-item">{{ user.username }}</a></h3>
                        <h3><a href="{% url 'change_password' %}" class="list-group-item">Change Password</a></h3>
                    </div>
                </div>

                <div class="col-md-7 titlepanel">
                    <div class="panel panel-primary">
                        <div class="panel-heading">My Posts</div>
                            <div class="panel-body">
                                {% for post in posts %}
                                    <h4>
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>


                                        <button style="float:right;" type="button" data-toggle="modal" data-target="#post-{{ post.slug }}">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>

                                        <div class="modal fade" id="post-{{ post.slug }}" role="dialog">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">X</button>
                                                        <h4 class="modal-title">Do You Want To Delete ?</h4>
                                                    </div>

                                                    <div class="modal-body">
                                                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <a href="{% url 'post_remove' slug=post.slug %}">
                                                            <button type="button" class="btn btn-danger btn-md">Yes</button>
                                                        </a>
                                                        <button type="button" class="btn btn-primary btn-md" data-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                            <a class="btn btn-default" style="float:right" href="{% url 'post_edit' slug=post.slug %}">
                                           <span class="glyphicon glyphicon-pencil"></span></a>
                                    </h4>
                                            <hr>
                                {% endfor %}

                                <div class="text-center">
                                    <div class="pagination">
                                        <div class="section-inner clearfix">
                                        <p>
                                            {% if posts.has_previous %}
                                            <a href="?page={{ posts.previous_page_number }}"><button type="button" class="btn btn-info">&lt; Prev</button></a> |
                                            {% endif %}
                                            {% if posts.has_next %}
                                            <a href="?page={{ posts.next_page_number }}"><button type="button" class="btn btn-info">Next &gt;</button></a>
                                            {% endif %}
                                            <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    {% endblock %}

    </body>
</html>