{% extends 'lostfound/base.html' %}
{% load  staticfiles %}

    <title>{% block title %} lost {% endblock %}</title>

{% block content %}
    <div class="container">
        <div class="row">
            <!div class="col-md-10 col-md-offset-1">
                {% for post in posts %}
                    <div class="post">
                        <div class="col-md-3 col-lg-3">
                            <!div class="pstborder">
                                {% if post.image %}
                                    <!div class="thumbnail">
                                    <a href="{{ post.get_absolute_url }}">
                                        <img src="{{ post.image.url}}" class="img-responsive" style="width: 300px; height: 230px"/>
                                    </a>
                                    <p class="text-center lostfoundtag"><strong>{{ post.lost_or_found }}</strong></p>
                                    <!/div>
                                {% endif %}
                                <h4 class="text-center ptitle"><a href="{{ post.get_absolute_url }}">{{ post.title | truncatechars_html:30 }}</a></h4>

                            <!/div>
                        </div>
                    </div>
                {% endfor %}
            <!/div>
        </div>
    </div>


    <div class="text-center">
        <div class="pagination">
            <div class="section-inner clearfix">
                <p>
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}"><button type="button" class="btn btn-info">&lt; Prev</button></a> |
                    {% endif %}

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}"><button type="button" class="btn btn-info">Next &gt;</button></a>
                    {% endif %}

                    <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
                </p>
            </div>
        </div>
    </div>

{% endblock %}