{% extends 'lostfound/base.html' %}
{% load staticfiles %}

{% block extra_stylesheet %}
<link rel="stylesheet" href="{% static 'css/cadmin.css' %}">
{% endblock %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard{% endblock %}</title>
    </head>
    <body>

    {% block content %}

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <h3><a href="{% url 'dashboard' %}" class="list-group-item">Dashboard</a></h3>
                        <h3><a href="{% url 'post_new' %}" class="list-group-item">New Post</a></h3>
                        <h3><a href="{% url 'dash_post_list' %}" class="list-group-item">My Posts</a> </h3>
                        <h3><a href="{% url 'profile' %}" class="list-group-item">{{ user.username }}</a></h3>
                        <h3><a href="{% url 'change_password' %}" class="list-group-item">Change Password</a></h3>
                    </div>
                </div>


                <div class="col-md-7 titlepanel">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h5><strong>Dashboard</strong></h5>
                        </div>

                        <div class="panel-body">
                            <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
                            <hr>
                            <p>hello</p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    {% endblock %}

    {% block footer %}
    {% endblock %}
    </body>
</html>