.post {
    margin-top: 5px;

}

.pstborder {
    border: solid green 2px;
}

.ptitle {
    position: relative;
    bottom: 30px;
}

.thutitle {
    position: relative;
    top: -204px;
    right: 90px;
}

.lostfoundtag {
    position: relative;
    top: -215px;
    right: 90px;
    background-color: orange;
    margin-left:90px;
    margin-right: 80px;
    padding-top:5px;
    padding-bottom: 5px;
    box-shadow: 1px 2px green;
}